*{
    margin: 0;
    padding: 0;
}
.formBox{
    background-color: rgb(212, 223, 197);
    width: 550px;;
    height: auto;
    margin:0% auto;
    padding: 10px;
    font-size: larger;
}
label{
    width: 200px;
    font-family: Arial, Helvetica, sans-serif;
    float: left;
    margin: 10px;
    -webkit-text-stroke-width: 1px;
    position: relative;
    top: 12px;
}
input{
    margin: 5px;
    position: relative;
    top: 8px;
    width: 300px;
    border: 2px solid black;
    border-radius :5px; ;
    padding: 5px 5px 12px 5px;
    background-color: rgb(225, 224, 185);
    font-size: larger;
}
button{
    position: relative;
    left: 210px;
    width: 140px;
    height: 50px;
    font-size: 140%;
    border-radius: 10px;
    background-color: aquamarine;
}
#error{
    background-color: rgb(232, 12, 12);
}
#success{
    background-color: rgb(12, 232, 118);
}